<p>
  <a [routerLink]="['0']" routerLinkActive="router-link-active" *ngIf="AdminHrService">Add New Employee</a>
</p>
<div class="text-danger alert alert-danger" *ngIf="errorMessage">Server Problem</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Address</th>
      <th>Qualification</th>
      <th>ContactNumber</th>
      <th>Department</th>
      <th *ngIf="AdminHrService"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of employees">
      <td>{{e.name}}</td>
      <td>{{e.surname}}</td>
      <td>{{e.address}}</td>
      <td>{{e.qualification}}</td>
      <td>{{e.contactNumber}}</td>
      <td>{{e.department.departmentName}}</td>
      <td *ngIf="AdminHrService">
        <a [routerLink]="[e.eid]" routerLinkActive="router-link-active">Edit</a> |
        <a class="btn btn-outline-danger" (click)="DeleteEmployee(e.eid)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
