<p>
  <a [routerLink]="['0']" routerLinkActive="router-link-active" *ngIf="AdminHrService">Add New Employee</a>
</p>
<div class="text-danger alert alert-danger" *ngIf="errorMessage">Server Problem</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Address</th>
      <th>Qualification</th>
      <th>ContactNumber</th>
      <th>Department</th>
      <th *ngIf="AdminHrService"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of employees">
      <td>{{e.Name}}</td>
      <td>{{e.Surname}}</td>
      <td>{{e.Address}}</td>
      <td>{{e.Qualification}}</td>
      <td>{{e.ContactNumber}}</td>
      <td>{{e.Department.DepartmentName}}</td>
      <td *ngIf="AdminHrService">
        <a [routerLink]="[e.Eid]" routerLinkActive="router-link-active">Edit</a> |
        <a class="btn btn-outline-danger" (click)="DeleteEmployee(e.Eid)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
