<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">Employee Mangement</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link text-dark text" [routerLink]="['/home']"
              routerLinkActive="router-link-active">Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/home/department']" routerLinkActive="router-link-active"
              *ngIf="hideDepartment">Department</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/roles']" routerLinkActive="router-link-active"
              *ngIf="hideRoles">Roles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/home/profile']"
              routerLinkActive="router-link-active">Profile</a>
          </li>
          <li>
            <span class="badge notification-count" id="notificationCount" data-toggle="popover"
              title="Notifications"></span>
          </li>
        </ul>
      </div>
      <div class="float-right">
        <form method="post" asp-action="Logout" asp-controller="Home">
          <button type="submit" class="btn btn-dark" (click)="Logout()">Logout
            {{Name}}</button>
        </form>
      </div>
    </div>
  </nav>
</header>
