<div class="row">
  <div class="col-md-6 table-responsive">
    <div class="text-danger alert alert-danger" *ngIf="errorMessage">
      Server Failure
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            Department Name
          </th>
          <th *ngIf="CheckAdmin"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of departments">
          <td>
            {{d.DepartmentName}}
          </td>
          <td *ngIf="CheckAdmin">
            <button class="btn btn-outline-primary" (click)="Edit(d)">Edit</button> |
            <a class="btn btn-outline-danger" (click)="DeleteDepartment(d.Did)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6" *ngIf="CheckAdmin">
    <form #form="ngForm">
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-group">
        <input hidden id="Did" class="form-control" name="id" [(ngModel)]="department.Did" />
        <label class="control-label">Department Name</label>
        <input type="text" id="DepartmentName" name="name" class="form-control" required
          [(ngModel)]="department.DepartmentName" />
      </div>
      <div class="form-group">
        <input type="submit" (click)="AddDepartment()" class="btn btn-primary" [disabled]="!form.valid" />
        <button type="reset" (click)="ResetDepartment()" class="btn btn-success">Reset</button>
      </div>
    </form>
  </div>
</div>
